#header {
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: black;
}

#videoContainer {
    background-color: #212121;
    height: 40vh;
    display: flex;
    margin-top: 3rem;
}

#textBox {
    color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

#textBoxHeader {
    font-family: 'Playball', cursive;
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
}

#textBoxContent {
    margin-top: 1.5rem;
}

#video {
    padding: 2rem;
    justify-content: center;
}

#preOrderContainer {
    background-color: white;
    margin-top: 3rem;
    padding: 2rem;
}
